# ===== Java =====
*.class
*.log

# ===== Build =====
target/
build/

# ===== IDE =====
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Ignore Modul tanpa spasi =====
Modul3/
